<% if user_signed_in? %>
	<section class='playlists-box'>
	  <h1>Playlists</h1>
    <%= link_to 'Add your own song to a playlist', new_track_path %>
    <br>
    <%= link_to 'Create playlist', new_playlist_path %>
    <article class='playlists'>
      <ul>
        <% current_user.playlists.each do |playlist| %>
        <li><%= link_to playlist.name, playlist_path(playlist) %></li>
        <% end %>
      </ul>
	  </article>
	</section>
<% else %>
<% end %>

<h1 id='welcome-message'>Find the best YouTube karaoke songs with PandaPop</h1>

<section id="results">
  <% @items.each do |item| %>
    <article class="search-result-container">
      <ul>
        <article class="title-and-thumbnail" data-video_id='<%= item["items"][0]["id"] %>'>
          <span class='title-container'>
            <li class="title"><%= item["items"][0]["snippet"]["title"] %></li>
          </span>
            <li class="duration"><%= Time.parse(item["items"][0]["contentDetails"]["duration"].gsub('PT', 'PT0H')).strftime("%M:%S") %></li>
          <li class="thumbnail"><img src="<%= item["items"][0]["snippet"]["thumbnails"]["medium"]["url"] %>" /></li>
         </article>
          <li class="viewCount"><%= item["items"][0]["statistics"]["viewCount"] %> Views</li>
          <li class="likeCount"><%= item["items"][0]["statistics"]["likeCount"] %> Likes</li>
          <% if user_signed_in? %>
            <%= form_for @track, :url => {:controller => 'tracks', :action => 'create'} do |f| %>
              <%= f.hidden_field :title, :value => item["items"][0]["snippet"]["title"] %>
              <%= f.hidden_field :duration, :value => item["items"][0]["contentDetails"]["duration"] %>
              <%= f.hidden_field :view_count, :value => item["items"][0]["statistics"]["viewCount"] %>
              <%= f.hidden_field :like_count, :value => item["items"][0]["statistics"]["likeCount"] %>
              <%= f.hidden_field :video_id, :value => item["items"][0]["id"] %>
              <%= f.collection_select :playlists, current_user.playlists, :id, :name%>
              <%= f.submit "Add to playlist", :class => 'add-to-playlist-link'%></td>
            <% end %>
          <% end %>
      </ul>
        <li><a href='#' class="add-to-queue" data-id='<%= item["items"][0]["id"] %>' data-title='<%= item["items"][0]["snippet"]["title"] %>'>Add to queue</a></li>
      </article>
  <% end %>
</section>
