<section id="results">
</section>

<% if user_signed_in? %>
  <a href="#" id="add-to-playlist-link">Add to playlist</a>
	<section id="playlist-list">
	  <ul>
	    <% current_user.playlists.each do |playlist| %>

	    <li>
        <input type="checkbox" class="playlist-checkbox" name="<%= playlist.name %>"/>
        Add to <%= playlist.name %>
	    </li>

	    <% end %>
      <li>
        <input type="checkbox" class="playlist-checkbox" name="create_new_playlist_checkbox"/>
        <input type="text" class="playlist-input" name="new_playlist_name" placeholder="Create new playlist"/>
      </li>
      <li>
        <%= link_to 'Add track to playlist(s)', new_track_path %>
        <input type="submit" class="playlist-submit" value="Add track to playlist(s)"/>
      </li>
	  </ul>
	</section>
	<section class='playlists-box'>
	  <h1>Playlists</h1>
	  <%= link_to 'Create playlist', new_playlist_path %>
	  <article class='playlists'>
	    <ul>
	      <% current_user.playlists.each do |playlist| %>
	      <li><%= link_to playlist.name, playlist_path(playlist) %></li>
	      <% end %>
	    </ul>
	  </article>
	</section>
<% else %>

image of pandas doing karaoke go here 
<% end %>
