<main id='devise-edit-page'>
<h2 class='devise-h2'>Edit your profile!</h2>

<%= form_for(resource, :id => 'devise-form', as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <p class='devise-p'><%= devise_error_messages! %></p>

  <div class="devise-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'devise-input' %>
  </div>

  <div class="devise-field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, :class => 'devise-input' %>
  </div>

  <div class="devise-field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, :class => 'devise-input' %>
  </div>


  <div class="devise-field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="devise-field">
    <%= f.label :password %> <i class='devise-i'>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'devise-input' %>
  </div>

  <div class="devise-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'devise-input' %>
  </div>

  <div class="devise-field">
    <%= f.label :current_password %> <i class='devise-i'>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'devise-input' %>
  </div>

  <div class="devise-actions">
    <%= f.submit "Update", :class => 'devise-submit' %>
  </div>
<% end %>
  <div class='devise-actions'>
    <p class='devise-p'>Unhappy? <%= button_to "Cancel my account :'(", registration_path(resource_name), data: { confirm: "Are you sure?" }, :id => 'devise-cancel', method: :delete %></p>
  </div>
  <br><br>
<p class='devise-p'><%= link_to "Back", :back %></p>
</main>
