<article class="pink-ribbon">
  <h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<article id="iframe-container">

  <section class="inner-grid">
    
    <section class="inner-grid-left">
      <%= render 'follow_form' if signed_in? %>
      <%= form_tag users_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Find friends', :name => nil %>
      <% end %>

      <section class="friend-results">

      </section>
        <%= link_to "#{@user.username}" %> 
      </section>



    <section class="inner-grid-right">
        <%= render 'shared/stats' %>
    </section>

  </section>

</article>

<%= render "static_pages/queue"%>
