<h1>Top tracks</h1>

<%= form_tag videos_index_path, :method => :post do %>
  <div>
    <%= label_tag "search for:" %>
    <%= text_field_tag "query" %>
  </div>
  <div>
    <%= label_tag "order by date" %>
    <%= radio_button_tag 'order', 'date' %>
    <%= label_tag "order by rating" %>
    <%= radio_button_tag 'order', 'rating' %>
    <%= label_tag "order by relevance" %>
    <%= radio_button_tag 'order', 'relevance' %>
    <%= label_tag "order by title" %>
    <%= radio_button_tag 'order', 'title' %>
    <%= label_tag "order by videocount" %>
    <%= radio_button_tag 'order', 'videocount' %>
    <%= label_tag "order by viewcount" %>
    <%= radio_button_tag 'order', 'viewcount' %>
  </div>
  <div>
  <%= submit_tag "submit" %>
  </div>
<% end %>

  <% if @videos %>
    <h2>Found results: </h2>
      <% @videos.each do |video| %>
        <%= link_to video["title"], details_path(:id =>video["id"]) %>
        <iframe>
        {:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430",
        :src => "//www.youtube.com/embed/#{video["id"]}", :title => "YouTube video player", :width => "640"}
        </iframe>
      <% end %>
  <% end %>
