<article class="pink-ribbon">
<h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<article id="iframe-container">

<section class="inner-grid">
  <section class="inner-grid-left">
    <div id="new-playlist-button"><img src="/images/plus.png" class="plus-icon"/><%= link_to 'New playlist', new_user_playlist_path(@user) %></div>
    <div class="playlist-button" data-playlistid="<%= @starredplaylist[0].id %>"><img src="/images/star-filled.png"/><%= @starredplaylist[0].name %></div>
    <% @playlists.each do |playlist| %>
      <div class="playlist-button" data-playlistid="<%= playlist.id %>"><img src="/images/microphone.png"/><%= playlist.name %></div>
        <% if current_user != playlist.user %>
      <%= link_to 'follow', playlist_follows_path(playlist), class: 'playlist_follow_link' %>
        <% end %>
    <% end %>
  </section>

  <section class="inner-grid-right">

  </section>

</section>
</article>
<%= render "static_pages/queue"%>
