<article class="pink-ribbon">
<h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<article id="iframe-container">

<section class="inner-grid">
  <section class="inner-grid-left">
    <% @user.playlists.each do |playlist| %>
      <li><%= link_to playlist.name, user_playlist_path(@user, playlist) %></li>
    <% end %>
  </section>

  <section class="inner-grid-right">
    <% if current_user == @user %>
      <%= link_to 'Add a song to a playlist', new_track_path %>
      <%= link_to 'New playlist', new_user_playlist_path(@user) %>
    <% end %>
  </section>

</section>
</article>
<%= render "static_pages/queue"%>
