<article class="pink-ribbon">
<h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<article id="iframe-container">

<section class="inner-grid">
  <section class="inner-grid-left">
    <div id="new-playlist-button"><img src="/images/plus.png" class="plus-icon"/><%= link_to 'New playlist', new_user_playlist_path(@user) %></div>
    <div class="playlist-button" data-playlistid="<%= @starredplaylist[0].id %>"><img src="/images/star-filled.png"/><%= @starredplaylist[0].name %></div>
    <% @playlists.each do |playlist| %>
      <div class="playlist-button" data-playlistid="<%= playlist.id %>"><img src="/images/microphone.png"/><%= playlist.name %>
        <% if current_user != playlist.user %>
          <%= link_to 'follow', playlist_follows_path(playlist), class: 'playlist_follow_link' %>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="inner-grid-right">
    <div id="play-all">Add playlist to queue</div>
    <article id="track-title">
      <p class="track-title-value">Title</p>
      <p>Duration</p>
    </article>
  	<article id="playlist-tracks-container">
  	</article>

  </section>

</section>
</article>


<template id="trackTemplate">
	  <article id="track-title" data-duration="{{trackduration}}" data-videoId="{{videoid}}">
  		<img src="/images/plus.png" class="plus-icon"/>
  		<p class="track-title-value">{{tracktitle}}</p>
  		<p>{{trackduration}}</p>
  		<img src="/images/cross.png" class="plus-icon"/>
  	</article>
</template>

<%= render "static_pages/queue"%>
