<article class="pink-ribbon">
<h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<article id="iframe-container">

<section class="inner-grid">
  <section class="inner-grid-left">
    <div id="new-playlist-button"><img src="/images/plus.png" class="plus-icon"/><%= link_to 'New playlist', new_user_playlist_path(@user) %></div>
    <div class="playlist-button"><img src="/images/star-filled.png"/><%= @starredplaylist[0].name %></div>
    <% @playlists.each do |playlist| %>
      <div class="playlist-button"><img src="/images/microphone.png"/><%= link_to playlist.name, user_playlist_path(@user, playlist) %></div>
    <% end %>
  </section>

  <section class="inner-grid-right">
    <% if current_user == @user %>
      <%= link_to 'Add a song to a playlist', new_track_path %>
    <% end %>
  </section>

</section>
</article>
<%= render "static_pages/queue"%>
