<div class="sb-slidebar sb-left" >
      <% if user_signed_in? %>
            <%= image_tag current_user.avatar.url(:medium), :id => 'user-avatar' %>
            <h1 id="username"><%= current_user.username %><%= link_to image_tag('/images/edit.png', :id => 'slidebar-edit-icon'), edit_user_registration_path(current_user) %></h1>
      <% end %>
      <div id='sidebar-button-area'>
      <% if user_signed_in? %>
            <div class='sidebar-button' id='top-button'><%= link_to 'my playlists', user_playlists_path(current_user) %></div>
            <div class='sidebar-button' id='followers'><%= link_to 'followers', followers_user_path(current_user) %></div>
            <div class='sidebar-button'>starred</div>
            <div class='sidebar-button'>groups</div>
            <div class='sidebar-button'><%= link_to "sign out", destroy_user_session_path, method: :delete %></div>
      <% else %>
            <div class='sidebar-button'><%= link_to 'Sign up', new_user_registration_path %></div>
            <div class='sidebar-button'><%= link_to 'Sign in', new_user_session_path %></div>
      <% end %>
      </div>

      <img src="/images/panda-v2.png" alt="PandaPop!" id="panda-mascot">


</div>
