<!DOCTYPE html>
<html>
<head>
  <title>Pandapop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main id="grid-main">
    <%= render "layouts/header" %>
    <%= form_tag root_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :'search-content' %>
        <%= submit_tag "search", :name => nil, :id => 'search-button' %>
      </p>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </main>
  <aside id="queue-bar">
    <section id="queue">The queue goes here</section>
    <!-- <button id="clear-queue">Clear queue</button> -->
  </aside>

</body>
</html>
