<!DOCTYPE html>
<html ng-app='Pandapop' ng-controller='SearchController as searchCtrl'>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,600,300' rel='stylesheet' type='text/css'>
    <title>Pandapop</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet" type="text/css">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <!--%= javascript_include_tag 'application' %-->
        <script src="assets/application-49ffcbcae4253f894ea973e3172dd5f3.js"></script>
        <%= csrf_meta_tags %>
  </head>
  <body>


    <%= render "layouts/sidebarleft"%>
    <div id="sb-site">
      <%= render "layouts/header" %>
      <%= render "layouts/searchresults" unless @skipfooter %>
      
      <main id="grid-main">
      <%= js add_gritter(flash[:notice], :time => 4000) %>
      <%= js add_gritter(flash[:error], :time => 4000) %>
      <%= js add_gritter(flash[:alert], :time => 4000) %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
