<!DOCTYPE html>
<html ng-app="pandapop">
<head>
  <title>Pandapop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

  <input type='text' name='search-content' id="top-bar-search">
  <input type='submit' value='search' id="search-button">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

<section id='tracks-queue'>
Hello I am temporary
</section>

<template id="trackTemplate">
  <header>
    <h1 class="title">{{title}}</h1>
    <h3 class="duration">{{duration}}</h3>
  </header>
    <a href="/player" class="search-link-thumbnail"><article class="thumbnail">{{{thumbnail}}}</article></a>
    <!-- <article class="embedVideo">{{{video}}}</article> -->
    <ul>
      <li><span class="viewCount">{{viewCount}}</span> views</li>
      <li><span class="likeCount">{{likeCount}}</span> likes</li>
      <li class="videoId">{{videoId}}</li>
      <li><a href='#' class='queue' data-id='{{id}}' data-title='{{title}}'>add to queue</a></li>
    </ul>

</template>


</body>
</html>
