<!DOCTYPE html>
<html>
<head>
  <title>Pandapop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>

  <input type='text' name='search-content' id="top-bar-search">
  <input type='submit' value='search' id="search-button">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>


<template id="trackTemplate">
  <header>
    <h1 class="title">{{title}}</h1>
    <h3 class="duration">{{duration}}</h3>
  </header>
    <article class="embedVideo">{{{video}}}</article>
    <ul>
      <li class="viewCount">{{viewCount}} views</li>
      <li class="likeCount">{{likeCount}} likes</li>
    </ul>
</template>
</body>
</html>
