<!DOCTYPE html>
<html>
<head>

  <title>Pandapop</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <aside id="queue-bar">
    <header id="queue-header">Queue</header>
    <section id="queue"></section>
    <button id="clear-queue">Clear queue</button>
    <button id="play-queue">Play queue</button>
    <button id="next-in-queue">Next</button>
  </aside>
  <main id="grid-main">


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>



</body>
</html>
