<!DOCTYPE html>
<html ng-app='Pandapop' ng-controller='SearchController as searchCtrl'>
  <head>
    <title>Pandapop</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet" type="text/css">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
  </head>
  <body>


    <%= render "layouts/sidebarleft"%>
    <div id="sb-site">
      <%= render "layouts/header" %>
      <%= render "layouts/searchresults" %>
      <main id="grid-main">
        <section id="flash-messages">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
